[Unit]
Description=SonicPixels
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/SonicPixels2/
ExecStart=/usr/bin/gunicorn3 -w 1 web_app:APP --bind="0.0.0.0" --worker-class gevent
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target