html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #ffffff;
    background: linear-gradient(-45deg, #3d3d3d, #4d4d4d, #3d3d3d, #4d4d4d);
    background-size: 400% 400%;
    -webkit-animation: Gradient 30s ease infinite;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
[data-state="off"] {
    background: rgba(255,255,255,0)!important;
}

#interface {
height: 50vh;
display: flex;
align-content: center;
justify-content: center;
}

#drawn-frame {
min-width: 100%;
min-height: 100%;
}

table, tr, td {
border: 1px dotted gray;
table-layout: fixed;
border-spacing: 0;
border-collapse: collapse;
margin: 0;
padding: 0;
background-repeat: no-repeat;
}

td p{
    text-align: center;
    vertical-align: middle;
}

#drawing-tools {
display: flex;
flex-wrap: wrap;
width: 100%;
height: 45vh;
justify-content: center;
align-content: center;
align-items: center;
}

#available-frames, #sound-picker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bank-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bank-select, .frame-selector, #play-current-frame {
    padding: .25em;
    margin: .25em;
    height: 3em;
    width: 5%;
    background: #adadad;
    color: white;
    border-radius: 5%;
    border: 1px solid black;
}

.colour-selector {
    padding: .25em;
    margin: .25em;
    height: 3em;
    width: 3em;
    border-radius: 25%;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
}

.slider-wrapper label {
    margin-right: 1em;
}

#volume, #begin-end, #master-volume  {
    width: 30%;
}

#playback-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#clear {
    -webkit-appearance: button;
    width: 3em;
    height: 3em;
    border-radius: 25%;
    border: 1px solid black;
}
.fill-type:focus {
    outline: none;
}
#clear:checked {
    border: 5px solid black;
}