<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sonic Pixel 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{{ url_for('static', filename='all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    
</head>
<body>
    <div id="interface"></div>
    <div id="drawing-tools">
        <div id="available-frames"></div>
        <div id="sound-picker">
            <input id="clear" class="fill-type" type="radio" name="state-select" value="off" />
        </div>
        <div class="slider-wrapper">
            <label>Volume: </label>
            <div id="volume"></div>
        </div>
        <div class="slider-wrapper">
            <label>Begin/end: </label>
            <div id="begin-end"></div>
        </div>
        <div id="state-selector">
            <input id="one-shot" class="fill-type" type="radio" name="state-select" value="one-shot" checked="checked" />
            <input id="loop" class="fill-type" type="radio" name="state-select" value="loop" />
        </div>
        <div id="playback-controls">
          <button id="play-current-frame">Play frame</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        var sock = io.connect(location.origin);        
    </script>
    <script src="{{ url_for('static', filename='compositionBuilder.js') }}"></script>
    <script>
        var comp;
        $.getJSON('/load-composition/live', function(data) {
            comp = data.loaded_composition;
            drawFrame(comp, 0);
            drawTools(comp);
        });
    </script>
</body>
</html>