<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">    
    <title>Sonic Pixel 2</title>
    <script defer src="{{ url_for('static', filename='all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    
</head>
<body>
    <div id="interface"></div>
    <div id="drawing-tools">
        <div id="available-frames"></div>
        <div>
            <select id="bank-select">
                <option val="0">0</option>
                <option val="1">1</option>
                <option val="2">2</option>
            </select>
        </div>
        <div id="sound-picker">
            <input id="clear" class="fill-type" type="radio" name="state-select" value="off" />
        </div>
        <div class="slider-wrapper">
            <label>Volume: </label>
            <div id="volume"></div>
        </div>
        <div class="slider-wrapper">
            <label>Begin/end: </label>
            <div id="begin-end"></div>
        </div>
        <div id="state-selector">
            <label for="one-shot">
                Play once
                <input id="one-shot" class="fill-type" type="radio" name="state-select" value="one-shot" checked />
            </label>
            <label for="loop">
                <input id="loop" class="fill-type" type="radio" name="state-select" value="loop" />
                Loop
           </label>
        </div>
        <div id="playback-controls">
          <button id="play-current-frame">Play frame</button>
        </div>
        <div class="slider-wrapper">
            <div id="master-volume"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        var sock = io.connect(location.origin);        
    </script>
    <script src="{{ url_for('static', filename='compositionBuilder.js') }}"></script>
    <script>
        var authorName = prompt('Composer name:').toLowerCase();
        var compositionName = prompt('Composition name:').toLowerCase();
        var comp;
        $.getJSON('/load-composition/'+ authorName+'/'+ compositionName, function(data) {
            comp = data.loaded_composition;
            if (!comp) {
                var xCells = (prompt('Number of speakers on  X-axis'));
                var yCells = (prompt('Number of speakers on  Y-axis'));
                comp = new Composition(compositionName, authorName, xCells, yCells);
            }
            drawFrame(comp, 0);
            drawTools(comp);
        });
    </script>
</body>
</html>