<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5d5d5d">
    <meta name="theme-color" content="#ffffff">
    <title>Sonic Pixel 2</title>
    <script defer src="{{ url_for('static', filename='all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}?5" />
    
</head>
<body>
    <div id="interface"></div>
    <div id="drawing-tools">
        <div id="available-frames"></div>
        <div id="bank-wrapper">
            <label for="bank-select">
                Bank select:
            </label>
            <select id="bank-select">
                <option value="1">Jaydev Mistry – Ghost of Barton Arcade I</option>
                <option value="2">Jaydev Mistry – Ghost of Barton Arcade II</option>
                <option value="3">Jaydev Mistry – Ghost of Barton Arcade – Interactive</option>
                <option value="4">Owl Project – The Combination of Caeffeine and the Ambience of Arcades</option>
                <option value="5">Hawthorne School – A Day In The Life</option>
                <option value="6">Cornbrook Creative – Victorian Barton Arcade</option>
                <option value="7">Sonic Pixels Archive – Dawn Chorus</option>
                <option value="8">Sonic Pixels Archive – Everyday Beeps and Blips</option>
                <option value="9">Sonic Pixels Archive –Haunted House</option>
                <option value="10">Gemma Nash – The Secret History of the Radical Female Shopper</option>

            </select>
            <label for="frame-interval">
                Frame play time:
            </label>
            <input id="frame-interval" type="number" name="frame-interval"/>
        </div>
        <div id="sound-picker">
            <input id="clear" class="fill-type" type="radio" name="state-select" value="off" />
        </div>
        <div class="slider-wrapper">
            <label>Volume: </label>
            <div id="volume"></div>
        </div>
        <div class="slider-wrapper">
            <label>Begin/end: </label>
            <div id="begin-end"></div>
        </div>
        <div id="state-selector">
            <label for="one-shot">
                Play once
                <input id="one-shot" class="fill-type" type="radio" name="state-select" value="one-shot" checked />
            </label>
            <label for="loop">
                <input id="loop" class="fill-type" type="radio" name="state-select" value="loop" />
                Loop
           </label>
        </div>
        <div id="playback-controls">
          <button id="play-current-frame">Play current frame</button>
          <button id="play-all-frames">Play frames in sequence</button>
        </div>
        <div class="slider-wrapper">
            <div id="master-volume"></div>
        </div>
        <div id="toggle-master"></div>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        var sock = io.connect(location.origin);        
    </script>
    <script>
        document.getElementById("interface").ontouchmove = function (e) {
            e.preventDefault();
        }
    </script>
    <script src="{{ url_for('static', filename='compositionBuilder.js') }}?5"></script>
    <script>
        var authorName = prompt('Composer name:').toLowerCase();
        var compositionName = prompt('Composition name:').toLowerCase();
        var comp;
        $.getJSON('/load-composition/'+ authorName+'/'+ compositionName, function(data) {
            comp = data.loaded_composition;
            if (!comp) {
                var xCells = (prompt('Number of speakers on  X-axis'));
                var yCells = (prompt('Number of speakers on  Y-axis'));
                comp = new Composition(compositionName, authorName, xCells, yCells);
            }
            drawFrame(comp, 0);
            drawTools(comp);
        });
    </script>
</body>
</html>